body{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
   display: flex;
   justify-content: center;
}

#default, #disc, #circle, #square{
    margin-left: 5%;
    border: 1px solid grey;
    padding: 0.5%;
    border-radius: 5%;
}

#default-ol, #lowerCase-Roman, #upperCase-Roman, #lowerCase-Alpha, #upperCase-Alpha{
    margin-left: 5%;
    border: 1px solid grey;
    padding: 0.5%;
    border-radius: 5%;
}

#heading{
    text-align: center;
    color: blue;
}
h1{
    text-align: center;
}